.upload-container{
    align-items: center;
    position: relative;
    margin: 1rem auto !important;
    padding: 0;
    background-color:  #dfedfc;
    max-width: 48rem;
    border-radius: 15px;
}
.header {
    color: white;
    text-align: center;
}

.container {
    padding: 2px 16px;
}
