.medical-test-rules-container{
    background-color: var(--light);
    color: var(--dark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin:20px;
  }
  
  .medical-test-rules-container h3 {
    color: var(--primary);
    margin-bottom: 10px;
  }
  
  .medical-test-rules-container ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .medical-test-rules-container li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .medical-test-rules-container {
      padding: 10px;
    }
  }
  